span.token {
    cursor: pointer;
}
span.token.active {
    background-color: #25257d;
    color: #ffffff;
}
/* override bootstrap menu style */
ul.dropdown-menu.context-menu {
    position: fixed;
    display: block;
}
